:host {
  display: block;
  height: 100%;
}

.product-list-container {
  display: block;
  height: 100%;
}

.product-card {
  max-width: 300px;
}

.product-image-container{
  padding-top: 25px;
  max-height: 400px;
  min-height: 400px;
}

.product-image {
  height: 400px;
}
