<div class="product-list-container">
  <div fxLayout="row" fxLayoutWrap fxLayoutGap="25px">
    <mat-card fxFlex="23" class="product-card" *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title>
          {{product.name}}
        </mat-card-title>
      </mat-card-header>
      <div class="product-image-container">
        <img mat-card-image class="product-image" alt="Geen foto" src="{{product.imgUrl}}" />
      </div>
      <mat-card-content>
        <p>
          {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end center">
        €{{product.price}}
        <button mat-icon-button color="primary" (click)="addToCart(product)" [disabled]="!authenticator">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
